
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
    'aside section section' 
    'aside section section' 
    'aside section section';
    margin: 20px;
  }
  
  #reservationArea {
    grid-area: aside;
  }

  #roomsDisplay {
    grid-area: section;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    overflow-y: scroll;
  }