.login-header {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    background-color: $black;
    opacity: 70%;
    color: $white;
  
    h1 {
      margin: 5px 0px 0px 0px;
      text-decoration: 1px underline;
      text-underline-offset: 8px;
    }
    
    p {
      margin-top: 3px;
      letter-spacing: 2px;
    }
  
  }
  
  .login {
    margin-top: 175px;
    display: flex;
    justify-content: center;
  }
  
  .login-content {
    display: flex;
    width: 45%;
    height: 30%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(74, 116, 123, 0.90);
      border-radius: 15px;
      color: $white;
  
    p {
      font-size: 18px;
      margin-top: 27px;
      width: 100%;
      text-align: center;
    }
  
    button {
      border-radius: 10px;
      border: 1px solid $teal;
      width: 106px;
      height: 30px;
      margin: 8px 24px 0px 24px;
      cursor: pointer;
      font-family: $main-font;
      letter-spacing: .5px;
  
      &:hover{
        background-color: $room-card;
        color: $white;
      }
    }
  }
  
  
  .login-credentials {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 70px;
  }
  
  #username-input, 
  #password-input {
    margin: 0px 0px 16px;
  }
  
  .username-input,
  .password-input {
    margin-bottom: 4px;
  }
  
  
  