/* Media-queries */

@media only screen and (max-width: 1000px) {

  nav {
    height: unset;
  }

  h1, h2 {
    font-size: 20px;
  }

  .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: .08fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
      "aside"
      "section"
      "section"
      "section"
      "section";
    }

  .reserved-room {
      margin-bottom: 20px;
  }

  .reservation-details {
      height: 213px;
      width: 90%;
  }

  #reservationArea {
    display: flex;
    justify-content: center;
  }
}

  @media only screen and (max-width: 480px) {

    nav {
      height: unset;
    }
  
    h1, h2 {
      font-size: 16px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: .08fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "aside"
        "section"
        "section"
        "section"
        "section";
      }

    .reserved-room {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        h5 {
          text-decoration: none;
        }
    }

    .reservation-details {
        height: 213px;
        width: 90%;
        padding-bottom: 10px;
    }

    .reservation-details div {
      display: flex;
      flex-flow: wrap;
    }

    .room-photo {
      display: none;
    }
  }