@import 'variables';
@import 'login';
@import 'grid';
@import 'aside';
@import 'nav';
@import 'reserved-room';
@import 'modal';

html {
  height: 100vh;
}

body {
  font-family: $main-font;
  background: url(../images/overlook.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.dashboard-view {
  height: 100vh;
}

.hidden {
  display: none;
}

@import 'media';