// @import 'reset';

/* This is an example of using Sass, otherwise plain CSS works too*/
$teal: rgba(92, 211, 235, 0.73);

html {
  height: 100vh;
}

body {
  background: url(../images/overlook.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.hidden {
  display: none;
}


// --------LOGIN HEADER-------
.login-header {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  background-color: black;
  opacity: 70%;
  color: white;

  h1 {
    margin: 10px 0px 7px 0px;
  }
  
  p {
    margin: 0px;
  }

}

.login {
  margin-top: 175px;
  display: flex;
  justify-content: center;
}

.login-content {
  display: flex;
  width: 45%;
  height: 30%;
  flex-direction: column;
  align-items: center;
  background-color: $teal;
    border-radius: 15px;
    color: white;

  p {
    font-size: 18px;
    margin-top: 27px;
    width: 100%;
    text-align: center;
  }

  button {
    border-radius: 10px;
    border: 1px solid $teal;
    width: 106px;
    height: 30px;
    margin: 8px 24px 0px 24px;
    cursor: pointer;

    &:hover{
      background-color: black;
      color: white
    }
  }
}


.login-credentials {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 70px;
}

#username-input, 
#password-input {
  margin: 0px 0px 16px;
}

.username-input,
.password-input {
  margin-bottom: 4px;
}






nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: black;
  color: white;
  opacity: 75%;
  z-index: 5;
}

.grid-container {
  // border: 2px solid blue;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  'aside section section' 
  'aside section section' 
  'aside section section';
  margin: 20px;

}

#reservationArea {
  grid-area: aside;
}

.all-resos {
  display: flex;
  flex-direction: column;
  padding: 20px;

    h3 {
      font-size: 20px;
      margin: 0px 0px 16px;
    }

    .member {
      margin: 0px;
    }

    .reward-points {
      margin: 0px 0px 15px;
    }

    button {
      width: 110px;
      height: 30px;
      border-radius: 10px;
      border: 1px solid $teal;
      cursor: pointer;
      margin: 10px 0px;

      &:hover {
        background-color: $teal;
        color: white
      }
    }

    select {
      width: 160px;
    }
}

#roomsDisplay {
  grid-area: section;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  overflow-y: scroll;
}


.reservation-card {
  justify-content: space-between;
  display: flex;
  height: 220px;
  width: 95%;
  border-radius: 8px;
  margin-bottom: 30px;
}


.user-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 80px;
  margin: 0px 15px 0px 0px;
}


.account-options {
  height: 25px;
    width: 155px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 14px;
    border: 2px solid white;
    cursor: pointer;
}

.reservation-details {
  margin: 20px;
  background-color: gray;
  border-radius: 10px;
  height: 425px;
  width: 75%;
}

h2 {
  margin: 12px 0px 5px;
  font-size: 20px;
  font-style: italic;
}

.hotel-branding {
  margin: 10px;
}

h1 {
  margin: 16px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.room-photo {
  height: 100%;
  width: 40%;
  
  img {
    height: 100%;
    max-width: 80%;
    object-fit: cover;
    position: relative;
  }
}

.reserved-room {
  background-color:#363434;
  opacity: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-type {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0px 20px 0px 20px;

  h5 {
    font-size: 22px;
    margin: 45px 0px 9px;
  }
  
  .room-beds {
    margin: 0px 0px 2px 0px;
  }

  select {
    width: 114px;
    margin: 15px 0px 0px 0px;
  }
}


.room-cost {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  width: 20%;
  max-height: 100%;
  justify-content: space-between;
  align-self: baseline;

    .nightly-cost {
      margin: 26px 0px 0px 0px;
    }

    button {
      border-radius: 10px;
      border: 1px solid teal;
      width: 106px;
      height: 30px;
      margin: 0px 17px 12px;
      cursor: pointer;

        &:hover {
          background-color: teal;
          color: white
        }
    }
}

.reso-date {
  margin-top: 12px;
}

.dashboard-view {
  height: 100vh;
}



// --------MODAL---------

.modal {
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0px;
  border: 1px solid #888;
  width: 70%;
  height: 65%;
  overflow-y: scroll;
  box-shadow: 0px 7px 29px 0px black;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.room-filters-div {
  margin: 8px;
}

.filter-rooms {
  margin-right: 8px;
  cursor: pointer;
}

#calendar {
  cursor: pointer;
}

.close-modal {
  padding: 4px 0px;
  margin: 0px;
  border: none;
  background: white;
  cursor: pointer;
}

.modal-X{
  height: 32px;
  width: 37px;

    &:hover{
      transform: scale(1.1)
    }
}

.choose-stay {
  display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 10px 10px;
    justify-content: center;
}

.room-card {
  justify-content: space-between;
  display: flex;
  height: 220px;
  width: 95%;
  border-radius: 8px;
  margin-bottom: 30px;
}

.available-room {
  background-color:#363434;
  opacity: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

